@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300&family=Changa:wght@500&display=swap');
main {
  margin: 0;
}
.mobile-nav, .fa-times{display: none;}
nav{
  background: #711d82;
  text-align: center;
  color: whitesmoke;
  /* text-align: center; */
  height: 85px;
}
nav ul{
  margin: 0;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
nav ul li{
  width: 10.5%;
}
.navItem{
  opacity: .75;
  transition: .4s ease-in-out;
}
.navItem:hover{
  transform: scale(1.25);
  cursor: pointer;
  opacity: 1;
}
.top{
  height: 85dvh;
  background: url(../public/images/bg2.jpg);
  display: flex;
  justify-content: space-around;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.top *{
  color: whitesmoke;
}
.top-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.top-content strong, .service{
  font-size: 36px;
  width: 100%; padding: 20px 0;
  font-family: 'Changa', sans-serif;
  text-decoration: underline;
}
.about strong, .aboutus strong, .services strong, .section-title{
  font-size: 36px;
  width: 100%; padding: 20px 0;
  font-family: 'Changa', sans-serif;
  text-decoration: underline;
  color: #511165;
}
.top-content small,.fieldname{
  font-size: 20px;
  padding: 12px 0;
  font-family: 'Changa', sans-serif;
}
.top-content p, .aboutus p{
  font-family: 'Bai Jamjuree', sans-serif;
  margin: 0; 
  font-size: 17.5px;
}
.top img{
  width: 45%;
  height: auto;
  border-radius: 50%;
}
.custom-shape-divider-bottom-1687040090 {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.custom-shape-divider-bottom-1687040090 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 165px;
  transform: rotateY(180deg);
}
.custom-shape-divider-bottom-1687040090 .shape-fill {
  fill: #FFFFFF;
}

/* About Us */
.about{padding: 25px 0;}
.about, .ourcompany{
  width: 85%;
  margin: auto;
}
.values small{
  font-size: 26px;
  padding: 12px 0;
  font-family: 'Changa', sans-serif;
}
.values{
  margin: auto;
  box-sizing: border-box;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, 1fr));
  gap: 2rem;
}
.values *{
  color: #310a4a;
}
/* End of About Us */
/* Service */
.services{
  padding: 50px 0;
  margin: auto;
  width: 85%;
}
.services-content{
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}
.services-content div{
  display: flex;
  justify-content: center;
  transition: .5s;
  align-items: center;
  border-radius: 16px;
  perspective: 1000px;
  background: #511165;
  padding:  15px;
  height: 375px;
  width: 33%;
}
.services-content div:hover{
  content: "";
  color: #310a4a;
  background: whitesmoke;
}
.service{
  text-align: center;
  cursor: pointer;
}
.service ~ p{
  position: absolute;
  transition: .75s;
  text-align: center;
  font-family: 'Bai Jamjuree', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;
  margin: 0; 
  font-size: 16.5px;
  width: 100%;
  height: 100%;
  padding: 15px;
  opacity: 0;
  z-index: -1;
}
#tas:checked ~ p,#cwa:checked ~ p, #mlda:checked ~ p {
  border-radius: 0%;
  background: #310a4a;
  color: whitesmoke;
  z-index: 1;
  border-radius: 16px;
  opacity: 1;
}
input[type="checkbox"]{display: none;}
.close{
  position: absolute;
  bottom: 5px; right: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s;
  text-decoration: underline;
}
.close:hover{
  transform: scale(1.25);
}
/* End of Service */
.ex{
  width: 85%;
  margin: auto;
}
/* Contact Page */
.submitbtn{
  text-align: center;
  box-sizing: border-box;
  padding: 5%;
}
.submitbtn button{
  font-size: x-large;
  font-family: 'Changa', sans-serif;
  border-radius: 8px;  border: none;
  background: #711d82;
  transition: .5s;
  width: 60%; height: 50px;
}
.submitbtn button:hover{
  background: whitesmoke;
  color: #711d82;
}
.textfield{
  border-radius: 8px;
  height: 50px;
}

/* End of Contact Page */

@media screen and (max-width: 450px) {
  /* Nav */
  .mobile-nav{
    display: flex;
    align-items: center;
    background: #711d82;
    color: whitesmoke;
    height: 50px;
  }
  .fa-times{
    position: absolute;
    display: block;
    top: 25px;
    right: 20px;
  }
  .mobile-nav i{
    padding: 15px;
    z-index: 1;
  }
  nav{
    transition: .5s ease-in-out;
    position: fixed;
    height: 100%;
    left: -100%;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  nav ul{
    padding: 75px;
    height: 100%;
    flex-direction: column;
    align-items: self-start;
    text-align: left;
  }
  nav ul li {
    width: 100%;
    height: 100px;
}
  /* End of Nav */
  .top{
    flex-direction: column;
  }
  .top-content strong, .about strong, .aboutus strong, .services strong, .service, .section-title {
    font-size: 32px;
  }
  .top-content{
    width: auto;
    padding: 4%;
  }
  .top img{
    position: relative;
    left: 35%; top: -3.25%;
    width: 50%;
  }
  .custom-shape-divider-bottom-1687040090 {
    position: absolute;
    bottom: 75px;
  }
  .custom-shape-divider-bottom-1687040090 svg{height: 125px;}
  .ourcompany{
    width: auto;
    text-align: center;
  }
  .values {
    width: 90%;
    grid-template-columns: repeat(1, minmax(50%, 1fr));
    gap: 1rem;
  }
  .services-content {
    gap: 1rem;
    flex-direction: column;
  }
  .services-content div{
    width: fit-content;
  }
  /* Contact */

  /* End of Contact */
}
@media screen and (max-width: 376px) {
  .top-content strong, .about strong, .aboutus strong, .services strong, .service, .section-title {
    font-size: 22px;
  }
  .top-content small, .fieldname {
    font-size: 16px;
  }
  .top-content p, .aboutus p {
    font-size: 14.5px;
  }
  .top img {
    width: 65%;
  }
  .values small {
    font-size: 18px;
  }
  .custom-shape-divider-bottom-1687040090 {
    bottom: 45px;
  }
  .services-content div {
    width: 100%;
  }
  .service ~ p {
    padding: 10px;
  }
}